<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Cheerio | Inbox</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/static/css/mdb.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">

    <meta name="theme-color" content="#fafafa">

    <style type="text/css">

    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row" th:each="message : ${messages}">
        <div class="col-md-12 text-left">
            <h3>
                <pre th:text="${message.body}">
                </pre>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a th:href="@{/send}" class="btn btn-outline-success btn-lg">Say something to me.</a>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-1 text-center">
                <a href="https://github.com/srinathlivetolearn/cheerio-web" class="fab fa-github fa-2x"></a>
            </div>
            <div class="col-md-1 text-center">
                <a href="https://www.linkedin.com/in/heysrinath/" class="fab fa-linkedin fa-2x"></a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-1 text-center">
                <a th:href="@{/logout}" style="color: #fafdf">Logout</a>
            </div>
        </div>
    </div>
</footer>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/static/vendor/js/bootstrap.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/static/vendor/js/mdb.js"></script>
</body>

</html>